<!DOCTYPE html>
<html>
  <body>
    <h1>About</h1>
    <p>
      Contact Ruby on Rails Tutorial about the sample app at the
      <a href="http://kanchilug.wordpress.com/about/">about page</a>.
    </p>
  </body>
</html>

