<!DOCTYPE html>
<html>
    <body>
    <h1>Contact</h1>
    <p>
      Table of activities of the kanchilug
      <a href="http://kanchilug.wordpress/table-of-activities/">table of activity page</a>.
    </p>
  </body>
</html>

